<input type='text' [value]='data' (input)='changeInput($event.target.value)'/>

<!-- //ngIf internal structure -->
<ng-template [ngIf]='data.length'>
    <div >
        hello ...{{data}}
     </div>

</ng-template>
<br>

<div *ngIf='data.length'>
   hello ...{{data}}
</div>

<!-- //ngFor internal structure -->
<div>
    <h3>Data List</h3>

    <ul >
      <ng-template ngFor let-user let-i='index' [ngForOf]='users'>
      <li>{{i}}</li>
      <li>{{user.name}}</li>
      <li>{{user.age}}</li>
    </ng-template>
    </ul>

  </div>


<div>
  <h3>Data List</h3>
  <ul *ngFor='let user of users;let i=index' >
    <li>{{i}}</li>
    <li>{{user.name}}</li>
    <li>{{user.age}}</li>
  </ul>
</div>
